body {
  margin: 0;
  background: url("https://cdn.pixabay.com/photo/2016/11/21/12/39/stars-1845140_1280.jpg");
  width: 100vw;
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* background-color: black;
  opacity: 0.6; */
  /* background-color: rgb(35, 35, 52); */
  /* background-image: radial-gradient(
    circle,
    rgb(38, 23, 48) 0%,
    rgb(43, 56, 143) 100%,
    rgb(39, 41, 132) 50%
  ); */
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border: 1px dashed white;
  border-radius: 50%;
}

.sun-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 75px;
}

@keyframes container {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes planet {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.neptune {
  width: 800px;
  height: 800px;
  animation: container 450s linear infinite;
}

.neptune-planet {
  width: 30px;
  height: 30px;
  animation: planet 1s infinite linear;
}

.uranus {
  width: 700px;
  height: 700px;
  animation: container 350s linear infinite;
}

.uranus-planet {
  width: 30px;
  height: 30px;
  animation: planet 1s infinite linear;
}

.saturn {
  width: 600px;
  height: 600px;
  animation: container 250s linear infinite;
}

.saturn-planet {
  width: 40px;
  height: 40px;
  animation: planet 0.7s infinite linear;
}

.jupiter {
  width: 500px;
  height: 500px;
  animation: container 150s linear infinite;
}

.jupiter-planet {
  width: 55px;
  height: 55px;
  animation: planet 0.7s infinite linear;
}

.mars {
  width: 400px;
  height: 400px;
  animation: container 90s linear infinite;
}

.mars-planet {
  width: 25px;
  height: 25px;
  animation: planet 0.9s infinite linear;
}

.earth {
  width: 300px;
  height: 300px;
  animation: container 75s linear infinite;
}

.earth-planet {
  width: 35px;
  height: 35px;
  animation: planet 1s infinite linear;
}

.venus {
  width: 200px;
  height: 200px;
  animation: container 25s linear infinite;
}

.venus-planet {
  width: 25px;
  height: 25px;
  animation: planet 10s infinite linear;
}

.mercury {
  width: 100px;
  height: 100px;
  animation: container 10s linear infinite;
}

.mercury-planet {
  width: 25px;
  height: 25px;
  animation: planet 7s infinite linear;
}

.orbit {
  /* width: 50px;
  height: 50px; */
  margin-left: 50%;
  margin-top: -25px;
  transform: translateX(50%);
}
